
* {
  font-family: 'Gabarito', sans-serif;
font-family: 'Outfit', sans-serif;
}

/* navbar */
.navbar {
  background-image: url(./aset/pexels-polina-tankilevitch-4109748.jpg);
  background-size: 100%;
  background-size: cover 100px;
}

.navbar .navbar-brand img {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  width: 75px;
  }
  .navbar .navbar-brand {
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .navbar .navbar-nav {
    margin-left: auto;
    
  }
  
  .navbar .btn {
    background: blanchedalmond
    width: 130px;
    font-weight: 600;
  }
  
  .navbar .btn:hover {
    background: none;
    border: 1px solid white;
    color: whitesmoke;
  }
  
  
  .navbar .nav-link {
    margin-right: 30px;
  }
  
  .navbar .nav-link:hover {
    color: white;
  }
  
  /* navbar */
  